$base-color: #1E69B8;
$hover-color: #1eadec;
$font-color: #2a3d4f;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
  font-family: 'Mulish', sans-serif;
  //font-family: 'Open Sans', sans-serif;
  color: $font-color;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.btn {
  padding: 15px 20px;
  font-size: 14px;
  line-height: 20px;
  background-color: #fffe00;
  color: $font-color;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: #a2fd02;
  }
}

.menu-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;

  div {
    width: 25px;
    height: 3px;
    background-color: white;
  }
}

header {
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);

  #header-content {
    padding: 15px 0;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .logo {
        margin: 0;

        a {
          text-decoration: underline;

          &, &:hover, &:active, &:visited {
            color: $base-color;
          }
        }
      }

      #header-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $font-color;


        .address, .phone-number {
          padding-left: 35px;
          background-repeat: no-repeat;
          background-size: 24px;
          margin-right: 40px;
          font-size: 16px;
          line-height: 25px;
        }

        .address {
          background-image: url("../icons/ico_location.svg");

          a {
            color: $base-color;
          }
        }

        .phone-number {
          background-image: url("../icons/ico_phone.svg");

          a {
            color: $font-color;
            text-decoration: none;
            border-bottom: 1px dashed $font-color;
          }
        }
      }
    }
  }

  nav {
    background-color: $base-color;

    .menu-btn {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      background-color: $base-color;


      li {
        transition: background-color .3s;

        a {
          display: block;
          padding: 10px 25px;
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          cursor: pointer;
          text-transform: uppercase;
        }

        &:hover {
          background-color: $hover-color;
        }
      }
    }

  }
}

.section-heading {
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

main {
  #banner {
    position: relative;
    background-color: #f0f0f0;

    #banner-info {
      padding: 100px 0;

      h1 {
        margin: 0 0 40px 0;
        font-size: 54px;
      }

      p {
        margin: 0 0 40px 0;
        font-size: 24px;
      }
    }

    #banner-img {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 40%;
      overflow: hidden;

      video {
        position: absolute;
        width: 100%;
        transform: translateY(-30%);
      }
    }
  }

  #about-company {
    p {
      text-align: center;
    }
  }

  #services {
    #services-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5%;

      .service {
        position: relative;
        width: 30%;
        margin-bottom: 20px;
        transition: transform .3s;

        a {
          text-decoration: none;
          color: inherit;
        }

        .service-img {
          height: 200px;
          background-size: cover;
          background-position: center center;
        }

        p {
          margin: 0;
          line-height: 50px;
          font-size: 20px;
          text-align: center;
          background-color: #f0f0f0;
          font-weight: bold;
          transition: all .3s;
        }

        &:hover {
          transform: scale(1.05);

          p {
            background-color: $base-color;
            color: #FFF;
          }
        }
      }
    }
  }

  #examples {
    img {
      width: 100%;
    }

    #examples-carousel {
    }

    .slick-arrow:before {
      color: $base-color;
    }
  }


}

footer {
  #contacts {
    #badge-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


      .contact-badge {
        h2 {
          margin: 0 0 5px 0;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }

    #map {
      display: block;
      margin-top: 30px;
    }
  }
}

#locksmith-services {
  display: grid;
  grid-template-columns: repeat(4, 25%);

  .locksmith-service {
    padding: 0 10px;
    box-sizing: border-box;

    p {
      font-weight: bold;
    }

    ul {
      padding: 0 0 0 20px;
    }
  }
}


#form-popup {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.4s;

  form {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    background-color: white;
    box-sizing: border-box;

    input {
      width: 100%;
      padding: 0 10px;
      line-height: 40px;
      font-size: 20px;
      box-sizing: border-box;
    }
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}


@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }

  header {
    nav {
      .container {
        padding: 0;
      }
    }
  }

  main #examples .container {
    padding: 0;
  }

  footer {
    #contacts {
      .container {
        padding: 0;

        #badge-wrapper {
          padding: 0 10px;
        }
      }
    }
  }

  #locksmith-services {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }
}


@media screen and (max-width: 980px) {

  .section-heading {
    padding-top: 20px;
  }
  header {
    #header-content {
      .container {
        justify-content: center;

        #header-info {
          display: none;
        }
      }
    }

    nav {
      ul {
        justify-content: center;
      }
    }
  }

  main {
    #banner {
      #banner-img {
        video {
          transform: none;
        }
      }
    }
  }

  footer {
    #contacts {

      #badge-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  main {
    #banner {
      text-align: center;

      #banner-img {
        display: none;
      }
    }

    #services {
      #services-wrapper {
        gap: 15px;

        .service {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    nav {
      .container {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        text-align: center;

        .menu-btn {
          display: flex;
        }

        ul {
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          max-height: 0;
          overflow: hidden;
          text-align: center;
          transition: max-height 0.8s;

          &.active {
            max-height: 500px;
          }
        }
      }
    }
  }

  footer {
    #contacts {
      #badge-wrapper {
        grid-template-columns: 1fr;
        align-content: center;
      }
    }
  }
  #locksmith-services {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  #form-popup {
    padding-top: 30px;
    align-items: start;
  }
}